
$container-tablet: 1200px !default;
$container-mob-tablet: 992px !default;
$container-mob-tablet-xs: 850px !default;
$container-mobile: 768px !default;
$container-mobile-xs: 480px !default;

@import './mixins';

$font-family-text: 'Roboto Slab', sans-serif !default;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;