%btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
  font-family: $font-family-text;
  box-shadow: none;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &::-moz-focus-inner {
    border: 0;
  }

  span {
    display: block;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @at-root button#{&} {
    display: block;
  }
}

%btn--red {
  @extend %btn;
  background: color('red');
  color: color('white');
  border: 1px solid color('red');
  border-radius: 4px;
  transition: all 0.2s ease;

  &:hover {
    background: transparent;
  }

  &:active {
  }
}

.btn-red {
  @extend %btn--red;
}

%btn--red-outline {
  @extend %btn;
  height: 60px;
  width: 234px;
  font-size: 18px;
  font-weight: 700;
  background: transparent;
  color: color('red');
  border: 2px solid color('red');
  border-radius: 6px;
  transition: all 0.2s ease;

  &:hover, &.active {
    color: color('white');
    background: color('red');
  }

  &:active {
  }
}

.btn-red-outline {
  @extend %btn--red-outline;
}

%btn--red-filled {
  @extend %btn;
  height: 60px;
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  background: color('red');
  color: color('white');
  border: 2px solid color('red');
  border-radius: 6px;
  transition: all 0.2s ease;

  &:hover {
    background: color('black-menu');
    border-color: color('black-menu');
  }

  &:active {
  }
}

.btn-red-filled {
  @extend %btn--red-filled;
}