*, ::before, ::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  html, body {
    line-height: 1;
    //touch-action: none;
    vertical-align: baseline;
    font-size: 16px;
    font-family: $font-family-text;
    color: color('text');
    font-feature-settings: "case" 0;
    @include mediaToDown($container-mobile) {

    }
  }

  html,
  body,
  .layout {
    height: 100%;
    width: 100%;
    min-height: 100%;
  }

  main {

  }

  h2 {
    position: relative;
    margin: 0;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: color('black');

    &.h2-grey {
      &:before {
        background: color('grey');
      }
    }

    &.h2-red {
      color: color('white');
      &:before {
        background: color('red');
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 2px;
    }
  }

  .page-title {
    position: relative;
    display: inline-block;
    font-size: 30px;
    letter-spacing: 3px;

    &:before {
      content: '';
      position: absolute;
      left: -120px;
      top: 50%;
      transform: translateY(-50%);
      width: 100px;
      height: 2px;
      background: color('white');
    }

    &:after {
      content: '';
      position: absolute;
      right: -120px;
      top: 50%;
      transform: translateY(-50%);
      width: 100px;
      height: 2px;
      background: color('white');
    }

    &__wrap {
      color: color('white');
      text-align: center;
      text-transform: uppercase;
    }

    &__sub {
      padding-top: 20px;
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 7px;
    }
  }