.form-row {
  width: 330px;
  margin-right: 10px;

  input {
    width: 100%;
    height: 60px;
    padding: 12px 18px;
    font-size: 16px;
    border-color: transparent;
    border-radius: 6px;
    color: color('white');
    background: rgba(246, 246, 246, 0.3);
    transition: all .2s ease-in-out;

    &::-webkit-input-placeholder {
      font-size: 16px;
      line-height: 1.4;
      color: color('white');
      font-weight: 400;
      font-family: $font-family-text;
    }

    &::-moz-placeholder {
      font-size: 16px;
      line-height: 1.4;
      color: color('white');
      font-weight: 400;
      font-family: $font-family-text;
    }

    &:-ms-input-placeholder {
      font-size: 16px;
      line-height: 1.4;
      color: color('white');
      font-weight: 400;
      font-family: $font-family-text;
    }

    &:-moz-placeholder {
      font-size: 16px;
      line-height: 1.4;
      color: color('white');
      font-weight: 400;
      font-family: $font-family-text;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    {
      -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset;
      transition: background-color 5000s ease-in-out 0s;

      @at-root & {
        -webkit-text-fill-color: #fff;
      }
    }
  }

  &__textarea {
    width: 100%;
    textarea {
      width: 100%;
      height: 140px;
      padding: 12px 18px;
      font-size: 16px;
      border-color: transparent;
      border-radius: 6px;
      color: color('black');
      background: color('white');
      resize: none;
      transition: all .2s ease-in-out;

      &::-webkit-input-placeholder {
        font-size: 16px;
        line-height: 1.4;
        color: color('black');
        font-weight: 400;
        font-family: $font-family-text;
      }

      &::-moz-placeholder {
        font-size: 16px;
        line-height: 1.4;
        color: color('black');
        font-weight: 400;
        font-family: $font-family-text;
      }

      &:-ms-input-placeholder {
        font-size: 16px;
        line-height: 1.4;
        color: color('black');
        font-weight: 400;
        font-family: $font-family-text;
      }

      &:-moz-placeholder {
        font-size: 16px;
        line-height: 1.4;
        color: color('black');
        font-weight: 400;
        font-family: $font-family-text;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      {
        -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset;
        transition: background-color 5000s ease-in-out 0s;

        @at-root & {
          -webkit-text-fill-color: #000;
        }
      }
    }
  }

  &--white {
    width: 380px;
    margin-right: 0;

    input {
      color: color('black');
      background: color('white');

      &::-webkit-input-placeholder {
        color: color('black');
      }

      &::-moz-placeholder {
        color: color('black');
      }

      &:-ms-input-placeholder {
        color: color('black');
      }

      &:-moz-placeholder {
        color: color('black');
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      {
        -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset;
        transition: background-color 5000s ease-in-out 0s;

        @at-root & {
          -webkit-text-fill-color: #000;
        }
      }
    }
  }
}