.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include mediaToDown($container-tablet) {
    max-width: 100%;
    padding: 0 10px;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

.not-mobile {
  @include mediaToDown($container-mobile) {
    display: none;
  }
}

.mobile-only {
  display: none;
  @include mediaToDown($container-mobile) {
    display: block;
  }
}