.section-about {
  padding: 80px 0;
}

$clip-size: 100px * (1 + .05 * 2);
$path-width: 2px;

%full-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.about {
  display: flex;
  padding-top: 40px;

  &__subtitle {
    padding-top: 80px;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
  }

  &__item {
    width: calc(100% / 3);
  }

  &__icon {
    @extend %full-fill;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 40px;
    margin: auto;
    color: color('red');
    box-shadow: inset 0 0 0 1px rgba(color('red'), .5);

    &-wrap {
      position: relative;
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }

    &::before,
    &::after {
      @extend %full-fill;
      content: '';
      z-index: -1;
      margin: -1 * .05 * 100%;
      box-shadow: inset 0 0 0 $path-width;
      animation: clipMe 8s linear infinite;
    }

    &::before {
      animation-delay: 8s * -.5;
    }
  }

  &__title {
    padding-top: 20px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    padding-top: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    text-align: center;
  }
}


@keyframes clipMe {
  0%, 100% {clip: rect(0px, $clip-size, $path-width, 0px); }
  25% {clip: rect(0px, $path-width, $clip-size, 0px); }
  50% {clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px); }
  75% {clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width); }
}