.section-cart {
  padding-top: 80px;
}

.cart {

  &__empty {

    &-subtitle {
      padding-top: 60px;
      font-size: 18px;
      text-align: center;
    }

    &-img {
      width: 600px;
      height: 460px;
      margin: 0 auto;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-link {
      display: flex;
      justify-content: center;
      margin: -60px 0 40px;
    }
  }

  &__container {
    padding: 80px 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    & + & {
      margin-top: 30px;
    }

    &-img {
      width: 200px;
      img {
        display: block;
        width: 100%;
      }
    }

    &-name {
      width: 240px;
      font-size: 20px;
      font-weight: 700;
    }

    &-price {
      width: 150px;
      font-size: 20px;
      font-weight: 700;
    }

    &-delete {
      font-size: 18px;
      transition: all .2s ease-in-out;
      color: color('black');
      cursor: pointer;

      &:hover {
        color: color('red');
      }
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 40px;

    &-count {
      span {
        font-weight: 700;
      }
    }

    &-price {
      span {
        font-weight: 700;
        color: color('red');
      }
    }
  }

  &__buy {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
}