.section-coming-soon {
  padding: 90px 0;
  background: color('black-menu');
}

.coming-soon {
  display: flex;
  padding-top: 80px;

  &__img {
    position: relative;
    width: 50%;
    height: 410px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: color('white');
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      color: color('red');
    }
  }

  &__info {
    width: 50%;
    padding-left: 30px;

    &-name {
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: color('white');
    }

    &-desc {
      &--head {
        padding-top: 20px;
        color: color('grey-second');

        span {
          padding-left: 20px;

          &:first-child {
            padding-left: 0;
          }
        }
      }

      &--body {
        padding-top: 20px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: color('white');
      }

      &--footer {
        padding-top: 20px;
        font-size: 16px;
        font-weight: 300;
        color: color('white');

        span {
          font-weight: 700;
        }
      }
    }
  }
}