.section-contacts-form {
  padding: 80px 0;
  background: color('grey-light');
}

.contacts-form {
  max-width: 770px;
  padding-top: 80px;

  &__row {
    display: flex;
    justify-content: space-between;

    & + & {
      margin-top: 10px;
    }
  }

  &__btn {
    margin-top: 10px;

    button {
      margin: 0 auto;
    }
  }
}