.section-contacts {
  padding: 80px 0;
  background: color('grey-light');
}

.contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;

  &__item {
    position: relative;
    width: calc(100% / 4 - 40px);
    padding: 40px 20px 20px;
    border-radius: 5px;
    background: color('white');
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10);
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: calc(-70px / 2);
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background: color('red');

    i {
      font-size: 30px;
      color: color('white');
    }
  }

  &__title {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  &__link {
    display: block;
    padding-top: 10px;
    text-align: center;
    color: color('black-menu');
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
      color: color('red');
    }
  }

  &__text {
    padding-top: 10px;
    text-align: center;
    color: color('black-menu');
  }
}