.section-facts {
  padding: 80px 0;
  background: color('black-menu');
}

.facts {
  display: flex;
  padding-top: 80px;

  &__item {
    width: calc(100% / 4);
    text-align: center;
  }

  &__number {
    font-size: 72px;
    font-weight: 700;
    color: color('red');
  }

  &__text {
    padding-top: 10px;
    font-size: 20px;
    color: color('white');
  }
}