.section-faq {
  padding: 80px 0;
}

.faq {
  max-width: 800px;
  padding-top: 80px;

  &__subtitle {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.Collapsible {

  &__trigger {
    position: relative;
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    color: color('red');
    background: color('black-menu');
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      height: 8px;
      background: url('../../images/acc-arrow.svg')no-repeat center center/cover;
      transition: all .2s ease-in-out;
    }

    &.is-open {
      &:after {
        transform: translateY(-50%) scaleY(-1);
      }
    }
  }

  &__contentInner {
    padding: 20px;
    font-size: 18px;
    line-height: 22px;
    color: color('white');
    background: color('grey');
  }
}