.section-filter {
  padding-top: 80px;
  padding-bottom: 80px;
}

.filter {

  &-nav {
    display: flex;
    justify-content: center;
    margin: 80px 0 40px;

    &__item {
      margin: 0 20px;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    &__item {
      position: relative;
      width: calc(100% / 4 - 20px);
      margin: 0 10px 20px;
      border-radius: 10px;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
      overflow: hidden;

      &:hover {
        .filter-content__item-img {
          &:before {
            background: rgba(0, 0, 0, .5);
          }
        }

        .filter-content__item-play {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, -50%);
        }

        .filter-content__item-buy {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, 100%);
        }
      }

      &-img {
        position: relative;
        width: 100%;
        img {
          display: block;
          width: 100%;
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          transition: all .2s ease-in-out;
        }
      }

      &-play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -90%);
        font-size: 60px;
        color: color('white');
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
          color: color('red');
        }
      }

      &-buy {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 200%);
        font-size: 40px;
        color: color('white');
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
          color: color('red');
        }
      }

      &-info {
        padding: 14px 14px 40px;
        background: color('white');
      }

      &-name {
        font-size: 18px;
        font-weight: 700;
        color: color('black');
        text-decoration: none;
        transition: all .2s ease-in-out;

        &:hover {
          color: color('red');
        }
      }

      &-desc {
        padding-top: 10px;
        font-size: 16px;
        color: rgba(0, 0, 0, .5);
      }

      &-footer {
        position: absolute;
        left: 50%;
        bottom: 14px;
        transform: translateX(-50%);
        width: calc(100% - 28px);
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-rate {
        color: color('red');
      }

      &-price {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}