.footer {
  background: color('black-menu');

  &__content {
    padding: 40px 0;
  }

  &__logo {
    width: 200px;
    margin: 0 auto;
    img {
      display: block;
      width: 100%;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    a {
      margin-right: 10px;
      font-size: 20px;
      color: color('white');
      transition: all .2s ease-in-out;

      &:hover {
        color: color('red');
      }
    }
  }

  &__copyright {
    padding-top: 40px;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, .5);
  }
}