.section-genres {
  padding-top: 80px;
  padding-bottom: 40px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;

  &__item {
    width: calc(100% / 3);
    margin-bottom: 40px;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 22px;
    font-size: 22px;
    color: color('red');
  }

  &__title {
    padding-left: 20px;
    font-size: 20px;
    color: color('red');
  }

  &__body {
    padding: 10px 40px 0 46px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
  }
}