.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 10px 0;
  transition: all .2s ease-in-out;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 180px;

    img {
      display: block;
      width: 100%;
    }
  }

  &__nav {

    &-list {
      $list: &;
      display: flex;
      margin: 0;
      padding: 0;
      color: #fff;

      li {
        margin-right: 20px;
        list-style: none;

        &.header__nav-parent-item {
          position: relative;

          &:hover {
            .header__nav-list-more {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }

            .header__nav-link--parent {
              background: color('red');
            }
          }
        }
      }

      &-more {
        position: absolute;
        left: -30px;
        top: 0;
        width: 240px;
        padding: 20px 20px 20px 40px;
        margin-top: 30px;
        border-radius: 10px;
        background: color('black-menu');
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        transition: all .3s ease-in-out;

        li {
          margin-bottom: 10px;
        }
      }
    }

    &-link {
      &--parent {
        padding: 6px 10px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 700;
        color: color('white');
        text-decoration: none;
        transition: all .2s ease-in-out;

        span {
          padding-left: 10px;
        }

        &.active, &:hover {
          background: color('red');
        }
      }

      &--children {
        color: color('white');
        text-decoration: none;
        font-size: 16px;
        transition: all .2s ease-in-out;

        &:hover, &.active {
          color: color('red');
        }
      }
    }
  }
}