.section-first-content {
  padding-top: 180px;
  padding-bottom: 100px;
  background: url('../../images/block-bg.jpg') no-repeat center center/cover;
}

.home-slider {
  max-width: 800px;

  &__item {
    position: relative;
    width: 100%;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      background: rgba(0, 0, 0, .5);
      transition: all .2s ease-in-out;
    }

    &:hover {
      .home-slider__info--name {
        top: 160px;
      }

      .home-slider__info--date {
        right: 50%;
        transform: translate(50%, -50%);
      }

      .home-slider__info--link {
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .home-slider__info--rate{
        bottom: 160px;
      }

      &:before {
        width: 100%;
        height: 100%;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {

    &--name {
      position: absolute;
      top: -100%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
      font-weight: 700;
      text-decoration: none;
      color: color('white');
      transition: top .4s ease-in-out, color .2s ease-in-out;

      &:hover {
        color: color('red');
      }
    }

    &--date {
      position: absolute;
      top: 44%;
      right: -100%;
      transform: translateY(-50%);
      font-size: 16px;
      text-align: center;
      color: rgba(255, 255, 255, .8);
      transition: all .4s ease-in-out;
    }

    &--link {
      position: absolute;
      left: -100%;
      top: 54%;
      width: 200px;
      height: 40px;
      transform: translateY(-50%);
      transition: all .4s ease-in-out;
    }

    &--rate {
      position: absolute;
      left: 50%;
      bottom: -100%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      font-size: 16px;
      color: color('white');
      transition: all .4s ease-in-out;

      &-item {
        i {
          margin-left: 4px;
        }

        & + & {
          margin-left: 16px;
        }
      }
    }
  }
}

.awssld__bullets button {
  background: color('white');
}

.awssld__bullets .awssld__bullets--active {
  background: color('white');
}

.awssld__controls__arrow-left:before, .awssld__controls__arrow-left:after, .awssld__controls__arrow-right:before, .awssld__controls__arrow-right:after {
  background: color('white');
}