.section-how-it-works {
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: color('black-menu');
}

.how-it-works {
  display: flex;
  padding-top: 140px;

  &__item {
    position: relative;
    width: calc(100% / 4);
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 100px;
    height: 100px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;

    &-wrap {
      width: 100px;
      height: 100px;
    }

    &:before {
      content: '';
      position:relative;
      top:0;
      left:-100%;
      width:100%;
      height:100%;
      background: rgba(255,255,255,0.1);
      transition:0.5s;
      pointer-events: none;
    }

    &-content {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      font-size: 30px;
      text-align:center;
      color: color('red');
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      box-sizing: border-box;

      &:nth-child(1)
      {
        transform:rotate(0deg);
      }

      &:nth-child(2)
      {
        transform:rotate(90deg);
      }

      &:nth-child(3)
      {
        transform:rotate(180deg);
      }

      &:nth-child(4)
      {
        transform:rotate(270deg);
      }

      &:before
      {
        content: '';
        position: absolute;
        width:100%;
        height: 2px;
        background: color('red');
        animation: animate 4s linear infinite;
      }
    }
  }

  &__title {
    padding-top: 40px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: color('white');
  }

  &__text {
    padding-top: 10px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: color('white');
  }
}

@keyframes animate {
  0% {
    transform:scaleX(0);
    transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
    transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
    transform-origin: right;

  }

  100%
  {
    transform:scaleX(0);
    transform-origin: right;

  }
}