.section-movie-detail-item {
  padding-top: 80px;
  padding-bottom: 80px;
}

.movie-detail-item {
  display: flex;
  padding-top: 80px;

  &__column {
    display: flex;
    width: 50%;
    height: 420px;
  }

  &__img {
    width: 260px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    position: relative;
    width: calc(100% - 260px);
    padding: 4px 30px;

    &-rate {
      color: color('red');
    }

    &-desc {

      &--head {
        padding-top: 10px;
      }

      &--body {
        padding-top: 10px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 300;
      }

      &--footer {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 60px);
      }
    }

    &-price {
      font-size: 20px;
      font-weight: 700;
    }

    &-cart {
      font-size: 20px;
      cursor: pointer;
      transition: all .2s ease-in-out;

      &:hover {
        color: color('red');
      }
    }
  }

  &__trailer {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &-play {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 60px;
      color: color('white');
      cursor: pointer;
      transition: all .2s ease-in-out;

      &:hover {
        color: color('red');
      }
    }
  }
}