.section-news-letter {
  padding: 90px 0;
  background: url('../../images/news-letter-bg.jpg') no-repeat center center/cover;
}

.news-letter {
  padding-top: 80px;

  &__desc {
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    text-align: center;
    color: color('white');
  }

  &__form {

    &-content {
      display: flex;
      justify-content: center;
      padding-top: 30px;
    }
  }
}