.section-not-found {
  padding-bottom: 170px;
}

.not-found {
  text-align: center;
  color: color('white');

  &__subtitle {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
  }

  &__link {
    margin-top: 60px;

    a {
      margin: 0 auto;
    }
  }
}