.section-services {
  padding-top: 80px;
}

.services {
  display: flex;
  padding-top: 80px;

  &__img {
    width: 570px;
  }

  &__info {
    width: calc(100% - 570px);
    padding-left: 50px;

    &-head {
      font-weight: 300;
    }

    &-body {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 60px;
    }

    &-item {
      width: 270px;
      margin-bottom: 30px;

      &--head {
        display: flex;
      }

      &--icon {
        width: 18px;
        font-size: 22px;
        color: color('red');
      }

      &--title {
        margin-left: 20px;
        font-size: 18px;
        font-weight: 700;
        color: color('red');
      }

      &--body {
        padding: 10px 0 0 40px;
        font-weight: 300;
        line-height: 20px;
      }
    }
  }
}