.section-team-member-skills {
  padding: 80px 0;
  background: color('black-menu');
}

.team-member-skills {
  max-width: 800px;
  padding-top: 80px;

  &__item {

    & + & {
      padding-top: 30px;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: color('white');
  }
}