.section-team-member {
  padding: 80px 0;
}

.team-member {
  max-width: 800px;
  padding-top: 80px;

  &__avatar {
    width: 300px;
    margin: 0 auto;
    img {
      display: block;
      width: 100%;
    }
  }

  &__name {
    padding-top: 10px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: color('black');
  }

  &__position {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: color('black');
  }

  &__desc {
    padding-top: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: color('black');
  }
}