.section-team {
  padding: 80px 0;
}

.team {
  $block: &;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;

  &__subtitle {
    padding-top: 80px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
  }

  &__item {
    display: block;
    width: calc(100% / 4 - 20px);
    text-decoration: none;

    &:hover {
      #{$block}__name {
        color: color('black');
      }
    }
  }

  &__avatar {
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }

  &__name {
    padding-top: 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: color('red');
    transition: all .2s ease-in-out;
  }

  &__position {
    padding-top: 5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    text-align: center;
    color: color('grey');
  }

  &__desc {
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: color('black');
  }
}