.section-top-buy {
  padding-top: 90px;
  padding-bottom: 90px;
}

.top-buy {
  display: flex;
  padding-top: 80px;
  margin: 0 -10px;

  &__item {
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &-img {
      position: relative;
      width: 100%;
      transition: .2s ease-in-out;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        opacity: 0;
        pointer-events: none;
        transition: all .2s ease-in-out;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }

      img {
        display: block;
        width: 100%;
      }
    }

    &-info {
      padding: 14px;
      background: color('white');
    }

    &-name {
      font-size: 18px;
      font-weight: 700;
      color: color('black');
    }

    &-desc {
      padding-top: 10px;
      font-size: 16px;
      color: rgba(0, 0, 0, .5);
    }

    &-rate {
      padding-top: 10px;
      color: color('red');
    }

    &-buy {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;

      &--cash {
        font-size: 22px;
        font-weight: 700;
      }

      &--cart {
        font-size: 18px;
        transition: all .2s ease-in-out;
        cursor: pointer;

        &:hover {
          color: color('red');
        }
      }
    }
  }
}